@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root { 
    --pink: #ff85a1; 
    --soft-pink: #ffeef2; 
    --dark-pink: #d46a83; 
}

body { 
    font-family: "Mali", cursive; 
    background: var(--soft-pink); 
    margin: 0; 
    display: block; 
    justify-content: center; 
    min-height: 100vh; 
    padding: 20px; 
    text-align: center;
}

h2 {
    font-size: 3rem;
    color: var(--dark-pink) !important;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.05);
}

#coupon-screen {
     margin-top: 20px; 
     display: block; 
    margin: 20px auto; 
    text-align: center; 
    max-width: 1200px;
}

#coupon-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
    padding: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.coupon-card { 
    background: white; 
    border-radius: 20px; 
    padding: 30px 20px 20px 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08); 
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 160px; 
}

.count-badge { 
    background: var(--pink); 
    color: white; 
    padding: 4px 15px; 
    border-radius: 20px; 
    font-size: 14px; 
    position: absolute; 
    top: 10px; 
    right: 10px;
}

.coupon-card h3 {
    margin: 10px 0; 
    font-size: 1.4rem; 
    line-height: 1.3; 
    color: #333;
}

.coupon-card.out { 
    opacity: 0.6; 
    filter: grayscale(0.8); 
}


button { 
    font-family: "Mali", cursive;
    background: var(--pink); 
    color: white; 
    border: none; 
    padding: 10px 30px; 
    border-radius: 25px; 
    cursor: pointer; 
    font-size: 16px; 
    font-weight: 500; 
    transition: 0.3s; 
    box-shadow: 0 4px 10px rgba(212, 106, 131, 0.2);
}

button:hover { 
    background: var(--dark-pink); 
    transform: translateY(-2px); 
}

.back-btn {
    font-family: "Mali", cursive;
    background: var(--pink); 
    color: white; 
    
    border: none; 
    padding: 10px 30px; 
    border-radius: 25px; 
    cursor: pointer; 
    font-size: 16px; 
    font-weight: bold; 
    transition: 0.3s; 
    box-shadow: 0 4px 10px rgba(212, 106, 131, 0.2);
}

.back-btn:hover { 
    background: white ; 
    color: var(--pink); 
}